.loader-03 {
  display:inline-block;
  width: 0;
  height:0;
  margin-top:3rem;
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
  border-bottom: 2rem solid $primary;
  border-top: 2rem solid $blue;
   -webkit-animation: loader5 1.2s ease-in-out infinite alternate;
   animation: loader5 1.2s ease-in-out infinite alternate;
}

@keyframes loader5 {
   from {transform: rotate(0deg);}
   to {transform: rotate(720deg);}
}
@-webkit-keyframes loader5 {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(720deg);}
}
