.selectable {
    label {
        color: $selectable-color;
        transition: all 0.2s linear;
        border-color: $selectable-border-color;

        @include box-shadow($box-shadow-none);

        &:hover {
            cursor: pointer;
            border-color: $selectable-border-hover-color;
            transition: all 0.2s linear;

            span {
                color: $selectable-active-color;
            }

        }
    }

    .card-body {
        padding: $selectable-spacer-y $card-spacer-x;
    }

    input:checked + label {
        border-color: $selectable-border-hover-color;
        background-color: $selectable-active-bg;
        color: $selectable-active-color;

        span {
            color: $selectable-active-color;
        }

    }
}

.selectable-small {
    label {
        .icon {
            width: 35px;
            height: 35px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }

    input:checked + label {
        @include box-shadow($box-shadow-sm);
    }
}