.loader-03 {
  display: inline-block;
    width: 3rem;
    height: 3rem;
    color: inherit;
    vertical-align: middle;
    pointer-events: none;
  position: relative;
  margin-top:2rem;
  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    background-color: $primary;
    left: 1.5rem;
    right: 0;
    top: 0;
    bottom: 1.5rem;
    box-shadow: -1.5em 0 0 $primary;
    animation: loader-12 1s linear infinite;
  }
  &:after {
    top: 50%;
    bottom: 0;
    animation-delay: .25s;
  }
}

@keyframes loader-12 {
  0%,
  100% {
    box-shadow: -1.5em 0 0 transparent;
    background-color: $primary;
  }
  50% {
    box-shadow: -1.5em 0 0 $primary;
    background-color: transparent;
  }
}
