/////////////////////////////
// == Body
/////////////////////////////

$body-color:                  $gray-800;


/////////////////////////////
// == Fonts
/////////////////////////////

// Family


$font-family-sans-serif:      'Muli', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-base:             $font-family-sans-serif;



// Weight

$font-weight-lighter:          lighter;
$font-weight-light:            300;
$font-weight-normal:           500;
$font-weight-bold:             700;
$font-weight-bolder:           bolder;


// Font weight base

$font-weight-base:            $font-weight-normal;
$line-height-base:            2;



// Size

$font-size-base:              1rem;
$h6-font-size:                $font-size-base*1.125;
$display4-size:               3.625rem;
$display4-weight:             $font-weight-bold;

// Heading

$headings-font-weight:        $font-weight-bold;
$headings-color:              $gray-900;
$headings-line-height:        1.4;

// Shadow 

// $enable-shadows:              true;


/////////////////////////////
// == Border 
/////////////////////////////

$border-radius:               0.5rem;
$border-color:                $gray-300;




/////////////////////////////
// == Spacing
/////////////////////////////

$spacer:                       1rem;



/////////////////////////////
// == HR
/////////////////////////////

$hr-margin-y:                 0;
$hr-border-color:             $border-color;



/////////////////////////////
// == Box Shadows
/////////////////////////////

$box-shadow-sm:               0 .125rem 0.5rem rgba($dark, .1);
$box-shadow:                  0 .125rem 1.875rem rgba($black, .1);
$box-shadow-lg:               0 1rem 3rem rgba($dark, .175);
$btn-shadow:                  0 .1875rem 1.3rem rgba($primary, 0.4);


/////////////////////////////
// == Buttons
/////////////////////////////

$btn-font-weight:             $font-weight-bold;
// $btn-border-radius:           0.5rem;
$input-btn-padding-y:         .4rem;
$input-btn-padding-x:         1.6rem;
$input-font-weight:           $font-weight-normal;
$input-color:                 red;

/////////////////////////////
// == Navbar
/////////////////////////////

$navbar-light-color:                $primary;
$navbar-light-hover-color:          darken($primary,15%);
$navbar-padding-y:                  $spacer;
$nav-link-padding-y:                $input-btn-padding-y;
$navbar-nav-link-padding-x:         1.8rem;
$navbar-light-toggler-border-color: transparent;
$logo-height:                       30px;


/////////////////////////////
// == Navbar
/////////////////////////////

$card-border-width:           1px;



/////////////////////////////
// == Preview
/////////////////////////////

$preview-padding:             0.2rem;
$preview-bg:                  rgba($primary,0.1);
$preview-color:               darken($primary, 30%);
$preview-heading-margin:      $spacer*2;



/////////////////////////////
// == Footer
/////////////////////////////

// $footer-bg:                   $gray-900;
$footer-padding-y:               2rem;
// $footer-border:                  $gray-800;



/////////////////////////////
// == Dropdown
/////////////////////////////

$dropdown-padding-y:                 0;
$dropdown-item-padding-y:           1rem;
$dropdown-item-padding-x:           1.5rem;
$dropdown-box-shadow:               $box-shadow-sm;
$dropdown-item-font-weight:         $font-weight-bold;
$dropdown-link-color:               $primary;
$dropdown-link-hover-color:         $white;
$dropdown-link-hover-bg:            $primary;

/////////////////////////////
// == Wizard
/////////////////////////////

$wizard-header-title-bg:                    $white;
$wizard-header-title-border:                $border-color;
$wizard-step-color:                         $gray-600;
$secondary-color:                           $primary;
$jet:                                       blue;
$custom-radio-checkbox-border-disabled:     $gray-600;
$custom-radio-checkbox-border:              $gray-200;
$cta-header-button-hover:                   null;
$go-back-button-hover:                      null;  



/////////////////////////////
// == Inputs
/////////////////////////////

$input-padding-x:                           1rem;
$input-color:                               $gray-900;





/////////////////////////////
// == Alerts
/////////////////////////////


$alert-bg-level:                    -11.7;
$alert-border-width:                0;